---
import Layout from "../components/Layout.astro";
---

<Layout blankHeader hideFooter>
	<main class="legal-page">
		<h1>This website was created using the following resources</h1>
		<ul>
			<li>Some illustrations on the site are designed by <a href="https://storyset.com"><strong><em>Storyset</em></strong></a>.</li>
		</ul>
	</main>
</Layout>
