---
import Layout from "../components/Layout.astro";
---

<Layout blankHeader hideFooter>
	<main class="thank-you">
		<h1>Thank you for signing up for the beta</h1>
		<p>We will be in touch soon</p>
		<a href="/">Home</a>
	</main>
</Layout>
