---
import { SITE_NAME } from "../site/config";

interface Props {
	size?: "default" | "large";
}

const { size = "default" } = Astro.props;
const iconSize = size === "large" ? 44 : 32;
---

<span class:list={["logo", { "logo-large": size === "large" }]}>
	<svg width={iconSize} height={iconSize} viewBox="0 0 1024 1024" fill="none" aria-hidden="true">
		<path d="M437.151 268.86C395.756 227.464 395.756 160.349 437.151 118.953C478.547 77.5577 545.662 77.5577 587.058 118.953C628.454 160.349 628.454 227.464 587.058 268.86L512.105 343.813L437.151 268.86Z" fill="#4AF8BB"></path>
		<path d="M586.351 754.642C627.746 796.038 627.746 863.153 586.351 904.549C544.955 945.944 477.84 945.944 436.444 904.549C395.049 863.153 395.049 796.038 436.444 754.642L511.398 679.689L586.351 754.642Z" fill="#3BE1FA"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M344.968 211.137L286.833 269.272L453.97 436.409L512.105 494.543L570.239 436.409L737.376 269.272L679.242 211.137L512.105 378.274L344.968 211.137Z" fill="#3BE1FA"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M678.636 812.467L736.771 754.332L569.634 587.195L511.499 529.061L453.364 587.195L286.228 754.332L344.362 812.467L511.499 645.33L678.636 812.467Z" fill="#4AF8BB"></path>
		<path d="M754.642 436.444C796.038 395.049 863.153 395.049 904.549 436.444C945.945 477.84 945.945 544.955 904.549 586.351C863.153 627.746 796.038 627.746 754.642 586.351L679.689 511.398L754.642 436.444Z" fill="#3BE1FA"></path>
		<path d="M268.86 587.058C227.464 628.454 160.349 628.454 118.953 587.058C77.5577 545.662 77.5577 478.547 118.953 437.151C160.349 395.756 227.464 395.756 268.86 437.151L343.813 512.105L268.86 587.058Z" fill="#3BE1FA"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M812.467 344.362L754.332 286.228L529.061 511.499L587.195 569.634L754.332 736.771L812.467 678.636L645.33 511.499L812.467 344.362Z" fill="#4AF8BB"></path>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M211.137 679.242L269.272 737.376L436.409 570.239L494.543 512.105L436.409 453.97L269.272 286.833L211.137 344.968L378.274 512.105L211.137 679.242Z" fill="#4AF8BB"></path>
	</svg>
	{SITE_NAME}
</span>
